.person {
    width: 100%;
    padding: 15px;
    background: rgba(165, 165, 165, 0.03);
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
}

.person__img {
    margin-right: 30px;
}

.person__img img {
    border-radius: 10px;
    width: 350px;
}

.person__info-title {
    font-size: 36px;
    color: #7c76d3;
}

.person__info-list {
    margin-right: 30px;
    display: inline-flex;
    flex-direction: column;
}

.person__info-list-item {
    margin-bottom: 10px;
    padding-top: 5px;
    border-top: 1px solid rgba(198, 198, 198, 0.1);
    display: flex;
    width: 230px;
    justify-content: space-between;
}